/* ---------- CUSTOM PROPERTIES ----------*/
:root {
  --border-radius: .25em;
  --clr-neutral-100: rgb(240, 230, 230);
  --clr-neutral-900: rgb(29, 27, 39);
  --clr-accent-1: #b7291a;
  --clr-accent-2: #d4a449;
  --gap-sm: .25rem;
  --gap-med: .5rem;
  --gap-lg: 1em;
}

/* ---------- RESET ----------*/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

select,
optgroup,
option {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1590708622734-b1b8df3c3576?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGVjdGlibGVzfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

label,
input,
placeholder,
select,
button {
  font: inherit;
}

/* ---------- TYPOGRAPHY ----------*/

h1, 
form,
#theme {
  color: var(--clr-neutral-100);
}

legend {
  font-size: 1.2rem;
}

#theme {
  text-align: center;
}

/* ---------- LAYOUT ----------*/

h1 {
  margin: var(--gap-lg) 0;
  padding: .2em .8em;
  border: var(--gap-sm) solid var(--clr-neutral-100);
  border-radius: var(--border-radius);
  background-color: var(--clr-neutral-900);
  outline: var(--gap-sm) solid var(--clr-accent-1);
}

form {
  width: 70%;
  padding: var(--gap-lg);
  background-color: var(--clr-neutral-900);
  border: var(--gap-sm) solid var(--clr-neutral-100);
  border-radius: var(--border-radius);
  box-shadow: .05rem .5rem 2rem var(--clr-accent-1);
}

.general-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-lg);
  width: 70%;
  margin-inline: auto;
  margin-bottom: var(--gap-lg);
}

input {
  padding: var(--gap-sm);
  border-radius: var(--border-radius);
}

.theme-select-group {
  /* position: absolute; */
  width: 70%;
  margin-inline: auto;
  transform: translateX(25%);
  margin-bottom: 2em;
}

.theme {
  padding: var(--gap-sm);
  border-radius: var(--border-radius);
  background-color: #1d1b27e3;
}

fieldset {
  width: 50%;
  margin-inline: auto;
  border: .05rem solid var(--clr-accent-1);
  border-radius: var(--border-radius);
  box-shadow: .05rem .5rem 2rem var(--clr-accent-1);
}

.radio-box {
  display: grid;
  grid-template-areas: "label radio";
  grid-template-columns: 5.5em 1em;
  grid-template-rows: 1fr;
  margin-inline: auto;
  padding: var(--gap-med);
}

.radio-box label {
  grid-area: label;
}

.radio-box input {
  grid-area: radio;
}

.radio-label {
  text-align: center;
}

input[type="radio"],
select,
button {
  cursor: pointer;
}

/* ---------- COMPONENTS ----------*/

.btn {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: var(--gap-med);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--clr-accent-2);
  box-shadow: .05rem .5rem 2rem var(--clr-accent-2);
  transition: all .5s;
}

.btn:hover,
.btn:focus {
  font-weight: bold;
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-1);
  box-shadow: .05rem .5rem 2rem var(--clr-accent-1);
  transform: scale(1.05);
}

/* ---------- MEDIA QUERIES ----------*/

@media (max-width: 450px) {
  .theme-select-group {
    transform: translateX(-15%);
  }
}

@media (max-width: 700px) {
  form {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  form {
    width: 95vw;
  }
}