/* ---------- CUSTOM PROPERTIES ----------*/
:root {
  --border-radius: .25em;
}

/* ---------- RESET ----------*/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1590708622734-b1b8df3c3576?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGVjdGlibGVzfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

label,
input,
placeholder {
  font: inherit;
}

/* ---------- TYPOGRAPHY ----------*/

h1 {
  color: rgb(240, 230, 230);
}

form {
  color: rgb(240, 230, 230);
}

legend {
  font-size: 1.25rem;
}

/* ---------- LAYOUT ----------*/

h1 {
  margin: 1em 0;
  padding: .2em .8em;
  border: .25rem solid rgb(240, 230, 230);
  border-radius: var(--border-radius);
  background-color: rgb(29, 27, 39);
  outline: .25rem solid #b7291a;
}

form {
  width: 70%;
  height: 400px;
  padding: 1em;
  background-color: rgb(29, 27, 39);
  border: .25rem solid rgb(240, 230, 230);
  border-radius: var(--border-radius);
  outline: .25rem solid #b7291a;
}

.general-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 70%;
  margin-inline: auto;
  margin-bottom: 1em;
}

input {
  padding: .25em;
}

fieldset {
  width: 50%;
  margin-inline: auto;
  border: .05rem solid #b7291a;
  border-radius: var(--border-radius);
  box-shadow: .05rem .5rem 2rem #b7291a;
}

.radio-box {
  display: grid;
  grid-template-areas: "label radio";
  grid-template-columns: 5.5em 1em;
  grid-template-rows: 1fr;
  margin-inline: auto;
  padding: .5em;
}

.radio-box label {
  grid-area: label;
}

.radio-box input {
  grid-area: radio;
}

.radio-label {
  text-align: center;
}
