/* ---------- CUSTOM PROPERTIES ----------*/
:root {
  --border-radius: .25em;
  --clr-neutral-100: rgb(240, 230, 230);
  --clr-neutral-900: rgb(29, 27, 39);
  --clr-accent: #b7291a;
  --gap-sm: .25rem;
  --gap-med: .5rem;
  --gap-lg: 1em;
}

/* ---------- RESET ----------*/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1590708622734-b1b8df3c3576?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGVjdGlibGVzfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

label,
input,
placeholder,
select {
  font: inherit;
}

/* ---------- TYPOGRAPHY ----------*/

h1, 
form {
  color: var(--clr-neutral-100);
}

legend {
  font-size: 1.2rem;
}

/* ---------- LAYOUT ----------*/

h1 {
  margin: var(--gap-lg) 0;
  padding: .2em .8em;
  border: var(--gap-sm) solid var(--clr-neutral-100);
  border-radius: var(--border-radius);
  background-color: var(--clr-neutral-900);
  outline: var(--gap-sm) solid var(--clr-accent);
}

form {
  width: 70%;
  padding: var(--gap-lg);
  background-color: var(--clr-neutral-900);
  border: var(--gap-sm) solid var(--clr-neutral-100);
  border-radius: var(--border-radius);
  box-shadow: .05rem .5rem 2rem var(--clr-accent);
}

.general-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-lg);
  width: 70%;
  margin-inline: auto;
  margin-bottom: var(--gap-lg);
}

input {
  padding: var(--gap-sm);
}

fieldset {
  width: 50%;
  margin-inline: auto;
  border: .05rem solid var(--clr-accent);
  border-radius: var(--border-radius);
  box-shadow: .05rem .5rem 2rem var(--clr-accent);
}

.radio-box {
  display: grid;
  grid-template-areas: "label radio";
  grid-template-columns: 5.5em 1em;
  grid-template-rows: 1fr;
  margin-inline: auto;
  padding: var(--gap-med);
}

.radio-box label {
  grid-area: label;
}

.radio-box input {
  grid-area: radio;
}

.radio-label {
  text-align: center;
}
